*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
   height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    
}
button{
    border-radius: 5px;
    margin: 5px;
    padding: 10px 20px;
    
    
}
button:hover{
    background-color: rgba(65, 65, 65, 0.548);
}

.nav{
    /* background-color: red; */
    width: 100%;
    height: 70px;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    

}
.logo{
    /* background-color: green; */
    background-image: url(/BackgroundColorChanger/img/logo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -12px 0px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

ul{
    width: 400px;
    height: 50px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    list-style: none;
    
}
